body {
	text-align: center;
	box-sizing: border-box;
	font-family: 'Bowlby One SC', cursive;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron {
	background-image: url(../images/banner2.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.jumbotron h3 {
	color: #f98704;
	font-size: 38px;
	padding: 0px;
}

.jumbotron h2 {
	color: #f98704;
}

.panel, .well {
	background-color: rgba(0, 0, 0, .8);
	color: white;
	border: 1px solid #f98704;
}

.panel-body div {
	margin-bottom: 10px;
}

#display, #guessed, #remaining, #wins, #reset-sub {
	font-family: 'Walter Turncoat', cursive;
	font-size: 20px;
}

#guesses-div {
	height: 60px;
}

#remaining {
	margin-top: 10px;
}

#remaining-div {
	height: 90px;
}

div.panel-body {
	height: 320.8px;
}

#witness {
	margin-top: 5px;
}

#wins {
	padding-left: 15px;
}

#pic {
	margin-top: 0px;
	font-size: 200px;
	line-height: 1;
	padding: 0px;
	max-height: 215px;
	max-width: 375px;
}
